body {
  background: #828282;
  color: #333;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: auto;
}

.quiz {
  height: 100%;
  background: #f2f2f2;
  padding-top: 1em;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 550px;
  float: left;
  margin: 30px;
  margin-right: 50px;
}
  .progress-stop, .progress-run {
    background: #bdbdbd;
    margin: auto;
  }
  .progress-stop {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .progress-run {
    width: 4px;
    flex: 100 0 1px;
  }

  .progress-stop.complete {
    background: #27AE60;
  }
  .progress-stop.active {
    background: #F2994A;
  }
  .progress-run.complete {
    background: #6FCF97;
  }

  .progress-stop:hover {
    background: #828282;
    cursor: pointer;
  }
  .progress-stop.active:hover {
    background: #F2994A;
  }
  .progress-stop.complete:hover {
    background: #219653;
  }

  .progress-stop:first-child:before {
    content: '';
    display: block;
    position: relative;
    top: -28px;
    left: -15px;
    width: 42px;
    height: 42px;
    background: url('/start.svg') top right no-repeat;
  }
  .progress-stop:last-child:before {
    content: '';
    display: block;
    position: relative;
    top: -10px;
    width: 42px;
    height: 42px;
    background: url('/finish.svg') top right no-repeat;
  }

.page {
  width: 830px;
  float: left;
}

h1, .answers button {
  font-family: Verdana, sans-serif;
}

button {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14pt;
  padding: 1em;
  color: #f2f2f2;
  background: #2F80ED;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
}
button:hover {
  background: #2D9CDB;
  cursor: pointer;
}
